.animation {
  &__popup {
    &-enter-active {
      animation: popup 400ms ease-in alternate-reverse;
    }
    &-exit-active {
      animation: popup 300ms ease-out forwards;
    }
  }
}

@keyframes popup {
  0% {
    transform: translate(0);
  }
  30% {
    opacity: .7;
    transform: translate(30px);
  }
  100% {
    opacity: 0;
    transform: translate(-200px);
  }
}